#divmadre {
    width: 800px;
    height: 100px;
    background: pink;
    margin: 20px;
    padding: 30px;
    border: 10px solid blueviolet;
}

.divhijita {
    width: 800px;
    height: 70px;
    background: white;
    border: 5px dotted black;
}